.dashboard{
    display:flex;
    min-height:100vh;
}

.sidebar {
    width: 240px;

    background: #071f58;

    border-radius: 0 25px 25px 0;

    padding: 20px;
}

.sidebar-menu{
    display:flex;
    flex-direction:column;
    gap:12px;
}

.sidebar-menu a{
    color:white;
    text-decoration:none;

    padding:12px;
    border-radius:10px;
}

.sidebar-menu a {
    display: block;
    transition: all 0.3s ease;
}

.sidebar-menu a:hover {
    color: white;
    background-color: rgba(255,255,255,0.1);
}

.logo {
    display: flex;
    justify-content: center;
    margin-bottom: 30px;
}

.logo img {
    width: 200px;
    height: auto;
}